.styled_button {
    padding: 5px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: inline-block;
    background-color: #fff;
    color: #484848;
    text-decoration: none;
}

.styled_sidebar_footer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    color: white;
    background: linear-gradient(45deg, rgb(21 87 205) 0%, rgb(90 225 255) 100%);
    /* background: #0098e5; */
}

.styled_collapsed_sidebar_footer {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    background: linear-gradient(45deg, rgb(21 87 205) 0%, rgb(90 225 255) 100%);
    /* background: #0098e5; */
}

.caption {
    font-size: 10px;
    line-height: 16px;
}