.farming-card{
    /*background-color: #060b28f0;*/
    background: linear-gradient(127.09deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%) border-box;
    padding: 20px;
    border-radius: 25px;
    margin-top: 10px;
    align-content: center;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    min-height: 250px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 1.25rem 1.6875rem 0;
    backdrop-filter: blur(120px);

}
.farm-title{
    margin: 0;
    line-height: 1.625;
    font-size: 16px;
    opacity: 1;
    text-transform: capitalize;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.locked-text{
    margin: 0;
    font-size: 0.75rem;
    line-height: 1.25;
    opacity: 1;
    text-transform: capitalize;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(160, 174, 192);
    font-weight: 400;
}
.details-text{
    margin: 0;
    line-height: 1.625;
    font-size: 14px;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(160, 174, 192);
    font-weight: 400;
}
.farms-button{
    font-size: 0.85rem !important;
    padding: 0.5rem 2rem;
    min-height: 2rem;
    font-weight: 500 !important;
    border-radius: 0.75rem !important;
    line-height: 1.4 !important;
}